<script lang="ts" setup>             //VM model
import { reactive, ref } from 'vue';
//การสร้างตัว reactive
const counter = reactive({
    count: 0
})
console.log(counter.count)
counter.count++
//โมเดลคือตัว message
const message = ref('Hello World!')
console.log(message.value)
message.value = 'Chang ed'
</script>
<!-- Viewww -->
<!-- templateก็หมายถึงshow -->
<template>
    <!-- splitคือทำให้ได้เป็นArrayของString reverseคือเรียงจากหน้าไปท้ายเป็นStringเหมือนเดิม joinคือการjoinArrayด้วยสิ่งที่ต้องการ -->
    <h1>{{ message.split('').reverse().join('') }}</h1>
    <p>count is: {{ counter.count }}</p>
</template>

<style scoped></style>